Repository mobilecoinfoundation/build-rs, pull requests merged in 2023-04, with the labels that each got.

#12 Parse target and profile from out dir
  .github/workflows/pr.yaml
  Cargo.toml
  src/cargo_build.rs
  src/env.rs
Labels: rust, github_actions, size/L

#17 Add nick-mobilecoin as codeowner
  .github/CODEOWNERS
Labels: size/XS

#19 Update repo with cookiecutter
  .github/CODEOWNERS
  .github/auto_assign.yaml
  .github/auto_assign.yml
  .github/labeler.yaml
  .github/labeler.yml
  .github/pull_request_template.md
  .github/settings.yml
  .github/triage-labeler.yaml
  .github/workflows/cargo-audit.yaml
  .github/workflows/ci.yaml
  .github/workflows/copyright.yaml
  .github/workflows/issues.yaml
  .github/workflows/pr-assign.yaml
  .github/workflows/pr.yaml
  .gitignore
  CHANGELOG.md
  CLA.md
  CODE_OF_CONDUCT.md
  Cargo.toml
  LICENSE
  README.md
  deny.toml
Labels: size/XL, rust, github_actions
