Repository mobilecoinfoundation/build-rs, pull requests merged in 2023-02, with the labels that each got.

#1 Add required repo files
  .github/CODEOWNERS
  .github/auto_assign.yaml
  .github/dependabot.yaml
  .github/labeler.yaml
  .github/pull_request_template.md
  .github/triage-labeler.yaml
  .github/workflows/cargo-audit.yaml
  .github/workflows/ci.yaml
  .github/workflows/copyright.yaml
  .github/workflows/issues.yaml
  .github/workflows/pr-assign.yaml
  .github/workflows/pr.yaml
  .gitignore
  .markdownlint-cli2.jsonc
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  Cargo.toml
  LICENSE
  README.md
  deny.toml
  rust-toolchain.toml
  rustfmt.toml
  src/lib.rs
Labels: size/XL, rust, github_actions

#3 Cargo build script helpers
  Cargo.toml
  README.md
  src/cargo_build.rs
  src/env.rs
  src/lib.rs
  src/utils.rs
  src/vars.rs
Labels: rust, size/XXL

#7 Exclude dtolnay/rust-toolchain from dependabot
  .github/dependabot.yaml
Labels: size/M
